/* My fonts */
$headingfont: 'Oswald', sans-serif;
$bodyfont: 'Old Standard TT', serif;

/* Biz Card Height and Width */
$height: 200px;
$width: 320px;

/* My colors */
$red: #F2385A;
$orange: #F5A503;
$white: #E9F1DF;
$lightblue: #4AD9D9;
$darkblue: #36B1BF;

/* Business Card Mixin' */
@mixin biz-card {
  border-radius: 15px;
  position:absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 25px 0px rgba(50, 50, 50, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

html, body {
  height: 100%;
  background-image: url("../img/white_bed_sheet.png");
  background-position: center center;
}

.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-bottom: $darkblue double 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  jsutify-content: center;
}

.business-card {
  height: 200px;
  width: 320px;
  margin: auto;
  position: relative;
  .tap-me {
    color: $darkblue;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: $bodyfont;
    animation: blink 1s 2;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.front {
  @include biz-card;
  background-color: $darkblue;
  opacity: 1;
  h1 {
    font-family: $headingfont;
    font-size: 52px;
    color: $white;
    font-weight: 700;
    transition: 2s ease-in;
  }
  h2 {
    font-family: $bodyfont;
    font-size: 30px;
    color: $white;
  }
}

.front:hover {
  opacity:0;
}

.back {
  @include biz-card;
  background-color: $lightblue;
  opacity:0;
  z-index: 5;
  transition: .3s ease-in-out;
  h1 {
    font-family: $headingfont;
    font-size: 52px;
    padding:30px 20px;
    color: $white;
    font-weight: 700;
    transition: 2s ease-in;
  }
  .social {
    text-align: center;
    a {
      color: $white;
      padding: 15px;
    }
    .fa:hover {
      animation: grow 0.5s ease-in-out infinite alternate;
    }
  }
}

.back:hover {
  opacity: 1;
}

@keyframes grow {
  0% { transform: scale(1); transform: scale(1); }
  100% { transform: scale(1.1); transform: scale(1.1); }
}

.arrow-down a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 40px;
  opacity: 0.6;
  &:hover {
    animation: grow 0.5s ease-in-out infinite alternate;
    opacity: 1;
  }
}

.portfolio {
  min-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.worktitle {
  padding-top: 200px;
  margin-bottom: 20px;
  font-family: $headingfont;
  font-size: 50px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  margin-top: 30px;
  margin-right: 30px;
  width: 250px;
  height: 300px;
  background-color: $orange;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px rgba(50, 50, 50, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-family: $headingfont;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    font-family: $bodyfont;
    line-height: 20px;
  }
  .have-a-look {
    font-family: $headingfont;
    display: block;
    color: $white;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    &:before {
      font-family: FontAwesome;
      content: "\f08e" " ";
      }
    }
  img {
    margin: 10px 0;
    width: 100%;
    border: 5px solid white;
    border-radius: 2px;
  }
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .project {
    margin: 40px auto;
  }
} 

@media screen and (min-width: 768px) { 
  .business-card {
    height: #{($height*1.5)};
    width: #{($width*1.5)};
    .tap-me {
      display:none;
    }
  }
  .front {
    background-color: $red;
    h1 {
    font-size: 80px;
    }
    h2 {
      font-size: 45px;
    }
  }
  .back {
    background-color: $orange;
  }
  .back .flex-back h1 {
      font-size: 70px;
    }
  .portfolio {
    margin-top: 100px;
  }
  .project {
    background-color: $darkblue;
    margin: 40px auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  .business-card {
    height: #{($height*2)};
    width: #{($width*2)};
    .tap-me {
      display:none;
    }
  }
  .front {
    h1 {
    font-size: 80px;
    }
    h2 {
      font-size: 60px;
    }
  }
  .back .flex-back h1 {
      font-size: 72px;
    }
  .project {
    background-color: $darkblue;
    margin-top: 30px;
    margin-right: 30px;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  .business-card {
    height: #{($height*2)};
    width: #{($width*2)};
    .tap-me {
      display:none;
    }
  }
  .front {
    h1 {
    font-size: 100px;
    }
    h2 {
      font-size: 60px;
    }
  }
  .back .flex-back h1 {
      font-size: 90px;
    }
}